.row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
        .card
            h5.card-header.text-capitalize 
                | Banners 
                a.badge.badge-success(href='/banner/addBanner') Add banner
            .card-body.table-responsive
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Banner Name
                            th(scope='col') Image
                            th(scope='col') Content
                            th(scope='col') created
                            th(scope='col') status
                            th(scope='col') ordering
                            th(scope='col') Action
                    tbody
                        each banner, i in banners
                            tr
                                th(scope='row')= 1
                                td= banner.name
                                td
                                    img.img-responsive.img-thumbnail(src='', width='50', alt='')
                                td= banner.content
                                td= banner.created
                                td= (banner.status) ? 'shown' : 'hide'
                                td= banner.ordering
                                td.btn-group-xs
                                    a.badge.badge-primary(href='/admin/banner/updateBanner/' + banner._id )
                                        i.fas.fa-edit.fas-xs
                                    a.badge.badge-danger(href='/admin/banner/deleteBanner/' + banner._id, 
                                        onclick="return confirm('Are you sure want to delete it ?')")
                                        i.fas.fa-trash-alt.fas-xs

