.row
    // ==============================================================
    // basic table
    // ==============================================================
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
        .card
            h5.card-header.text-capitalize
                | Products list  
                a.badge.badge-success(href='/admin/product/addProduct') Add Product
            .card-body.table-responsive
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Product Name
                            th(scope='col') this is image
                            th(scope='col') Category
                            th(scope='col') Price
                            th(scope='col') Sale Price
                            th(scope='col') Status
                            th(scope='col') Create
                            th(scope='col') Action
                    tbody
                        each product, i in products
                            tr
                                th(scope='row')= i
                                td= product.name
                                td
                                    img.img-responsive.img-thumbnail(src="http://localhost:3000/" + product.image, width='50', alt='')
                                td
                                td= product.price
                                td= product.sale_price
                                td= (product.status) ? 'shown' : 'hide'
                                td
                                td.btn-group-xs
                                    a.badge.badge-success(href='/admin/product/productDetail/' + product._id)
                                        i.fas.fa-street-view
                                    a.badge.badge-primary(href='/admin/product/updateProduct/' + product._id)
                                        i.fas.fa-edit.fas-xs
                                    a.badge.badge-danger(href='/admin/product/deleteProduct/' + product._id, 
                                        onclick="return confirm('Are you sure want to delete it ?')")
                                        i.fas.fa-trash-alt.fas-xs
